### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [18]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [11]:
numberofplayers = len(purchase_data['SN'].value_counts())

totalPlayer = pd.DataFrame({"Total Players":[numberofplayers]})
totalPlayer

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
numberOfItems = len(purchase_data['Item ID'].unique()) #Finding the count of the unique tiem
averagePrice = purchase_data["Price"].mean() #average price
numberOfPurchase = purchase_data["Purchase ID"].count() #counting the number of prchase
totalRevenue = purchase_data["Price"].sum() #adding up all the sum

df = pd.DataFrame({"Number of Unique Items":[numberOfItems],
                  "Average Price":[averagePrice],
                  "Number of Purchases":[numberOfPurchase],
                  "Total Revenue":[totalRevenue]})

df_sort = df[["Number of Unique Items","Average Price",
             "Number of Purchases","Total Revenue"]]


#Formatting average price and total revenue

Formated_df = df_sort.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})
Formated_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [53]:
# Group purchase_data by Gender
grouped_genders = purchase_data.groupby("Gender")

# Count the total of screen names "SN" by gender
totalOfGender = gender_stats["SN"].nunique()

# Total count by gender and divivde by total players 
percentageOfPlayers= totalOfGender / numberofplayers * 100

# Create data frame with obtained values
gender_df = pd.DataFrame({"Percentage of Players": percentageOfPlayers, "Total Count": totalOfGender})


# Sorting the column in order.
gender_df_sort = gender_df[["Total Count", "Percentage of Players"]]

# Sorted total count.
asc_count = gender_df_sort.sort_values(["Total Count"], ascending = False)

# putting percentage on the percentage of players
asc_count.style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [67]:
# Finding the purchase count numbers by genders
purchaseCount = grouped_genders['Purchase ID'].count()

# Finding the average price of each gender
averagePurchase = grouped_genders['Price'].mean()

# Find the total purchase value of each gender
totalPurchaseValue = grouped_genders['Price'].sum()

# Find the average purchase total per person
averagePerPerson = totalPurchaseValue/totalOfGender

# Creating dataframe
purchasing_df = pd.DataFrame({"Purchase Count":purchaseCount,
                             "Average Purchase Price":averagePurchase,
                             "Total Purchase Value":totalPurchaseValue,
                             "Avg Total Purchase per Person":averagePerPerson})
# Sorting the column in order
purchasing_df_sort = purchasing_df[["Purchase Count","Average Purchase Price",
                                   "Total Purchase Value","Avg Total Purchase per Person"]]
# Format the output
purchasing_df_sort.style.format({"Average Purchase Price":"${:,.2f}",
                                "Avg Total Purchase per Person":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [88]:
# Establish bins for ages
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 200]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment and sort age values into bins established above
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins, labels=group_names)
purchase_data

# Create new data frame with the added "Age Group" and group it
age_grouped = purchase_data.groupby("Age Group")

# Count total players by age category
totalCountAge = age_grouped["SN"].nunique()

# Calculate percentages by age category 
percentageByAge = (total_count_age/numberofplayers) * 100

# Create data frame with obtained values
age_demographics = pd.DataFrame({"Percentage of Players": percentageByAge, "Total Count": totalCountAge})

# Soting columns
age_demographics_sort = age_demographics[["Total Count","Percentage of Players"]]

# Format percentage with two decimal places 
age_demographics_sort.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [93]:
# Count by Age
countAge = age_grouped['Purchase ID'].count()

# Finding average purchase price
avg_purchase_age = age_grouped['Price'].mean()

# Findig the toal purchase value
avg_total_purchase_age = age_grouped['Price'].sum()

# Finding the average total purchase per person
age_total_purchase_per_person = avg_total_purchase_age / totalCountAge

#Creating DataFrame
Purchasing_Analysis = pd.DataFrame({"Purchase Count":countAge,"Average Purchase Price":avg_purchase_age,
                                   "Total Purchase Value":avg_total_purchase_age,
                                   "Avg Total Purchase per Person":age_total_purchase_per_person})
#Sorting the column
Purchasing_Analysis_sort = Purchasing_Analysis[["Purchase Count",
                                               "Average Purchase Price",
                                               "Total Purchase Value",
                                               "Avg Total Purchase per Person"]]
Purchasing_Analysis_sort.style.format({"Average Purchase Price":"${:,.2f}",
                                      "Total Purchase Value":"${:,.2f}",
                                      "Avg Total Purchase per Person":
                                      "${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [98]:
# Grouping the SN 
Grouped_Spenders = purchase_data.groupby('SN')

# Purchase count for each SN
Spenders_Purchase_Count = Grouped_Spenders['Purchase ID'].count()

# Finding the total purchase values
Spenders_Total = Grouped_Spenders['Price'].sum()

# Finding average purchase price
Spenders_Avg_Purchase = Grouped_Spenders['Price'].mean()

# Creating data frame
Top_Spenders_df = pd.DataFrame({"Purchase Count":Spenders_Purchase_Count,
                               "Average Purchase Price":Spenders_Avg_Purchase,
                                "Total Purchase Value":Spenders_Total})

#Sorting the column 
Top_Spenders_df_sort = Top_Spenders_df[["Purchase Count","Average Purchase Price",
                                       "Total Purchase Value"]]

#sorting from high
formated_Top_Spenders = Top_Spenders_df_sort.sort_values(["Total Purchase Value"], ascending = False).head()

formated_Top_Spenders.style.format({"Total Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [117]:
# Create a dataframe with item ID, Item Name, and Item price
items_only = purchase_data[["Item ID","Item Name","Price"]]

# Grouping by item ID and name
items_group = items_only.groupby(["Item ID","Item Name"])

# Calculation the count of the items
items_purchase_count = items_group["Item ID"].count()

# Finding the total purchase values by groups
items_total = items_group["Price"].sum()

# Finding each items price
items_price = items_total/items_purchase_count

# Creating the DataFrame
popular_df = pd.DataFrame({"Purchase Count":items_purchase_count,
                           "Item Price":items_price,
                           "Total Purchase Value":items_total})
# Sorting the column according to the assignemnt
popular_column = popular_df[['Purchase Count','Item Price','Total Purchase Value']]

#Ascending the purchase count
popular_asc = popular_column.sort_values(["Purchase Count"], ascending = False).head()

#Fixing the format
popular_asc.style.format({"Item Price":"${:,.2f}",
                         "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [119]:
# Sorting the total purchase value
popular_desc = popular_column.sort_values(["Total Purchase Value"], 
                                          ascending = False).head()

#Fixing the format
popular_desc.style.format({"Item Price":"${:,.2f}",
                         "Total Purchase Value":"${:,.2f}"})